/* CSS files add styling rules to your content */


.center{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index:1;
}


h1{
  font-family: 'DM Serif Display', serif;
  font-weight: 900;
  font-size:60px;
  text-align: center;
}

.top{
  font-family: 'Marcellus', serif;
  text-align: center;
  top:0;
  width:100%;
  position:fixed;
}

.bottom{
  font-family: 'Marcellus', serif;
   text-align: center;
   position:fixed;
   bottom:0;
   width:100%;
}

.left{
  font-family: 'Marcellus', serif;
  text-align: center;
  position:fixed;
  left:0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.right{
  font-family: 'Marcellus', serif;
  text-align: center;
  width:100%;
  right:0;
  position:fixed;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited{
  color:black;
}

a:active{
  color:white;
}